<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>708898385251-baan9e56qhbm1vro4ac7b1vj4a05l231.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708898385251-baan9e56qhbm1vro4ac7b1vj4a05l231</string>
	<key>API_KEY</key>
	<string>AIzaSyCnVLQCXG4oCxGJf6DHYQc0c-db_od0Fbg</string>
	<key>GCM_SENDER_ID</key>
	<string>708898385251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..diplomaWithSidebar</string>
	<key>PROJECT_ID</key>
	<string>diplomawithsidebar</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomawithsidebar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:708898385251:ios:8c944524246db6f4</string>
	<key>DATABASE_URL</key>
	<string>https://diplomawithsidebar.firebaseio.com</string>
</dict>
</plist>